<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cy.com.allview">

    <permission android:name="cy.com.allview.provider.BOOK_PROVIDER" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".act.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".act.SecondActivity"
            android:process=":remote" />
        <activity
            android:name=".act.ThridActivity"
            android:process="com.cy.test_application" />
        <activity
            android:name=".act.ProviderAct"
            android:process="com.cy.test_application" />

        <service
            android:name=".service.IPCService1"
            android:process=":remote" />
        <service
            android:name=".service.BookManagerService"
            android:process=":remote01" />
        <service android:name=".service.BinderPoolService" />

        <provider
            android:name="cy.com.allview.contentprovider.BookProvider"
            android:permission="cy.com.allview.provider.BOOK_PROVIDER"
            android:authorities="cy.com.allview.contentprovider.bookprovider"
            android:exported="true"
            android:process=":provider" />
    </application>

</manifest>